<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/index/css/index.css">
</head>
<body>
    <section>
        <h1>created by <a target="_blank" href="https://github.com/rwson/create-koa-app">create-koa-app</a></h1>
        <p>这是个静态的HTML文件,你可以用这种方式实现前后端分离</p>
        <div class="folders">
        	<h3 class="folder-type">目录解释</h3>
        	<p>
        		<span>router:</span>
        		路由配置模块,可以在这边写关于路由配置
        	</p>
        	<p>
        		<span>../static:</span>
        		静态文件模块,最后的页面都可以放在里面,你也可以把用构建工具编译出来的文件放在里面
        	</p>
        </div>
    </section>
</body>
</html>
